{% extends 'maintest.html' %}
{% load crispy_forms_tags %}
{% block script %}
<base href="http://127.0.0.1:8000/">
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:rgb(157, 221, 247);">
  <a class="navbar-brand" href="{% url 'tool_show' %}">เครื่องมือทั้งหมด</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"
          style="color:rgb(0, 0, 0); ">
          สถานะ
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'tool_show' %}" style="color:rgb(0, 0, 0); ">ทั้งหมด</a>
          <a class="dropdown-item" href="{% url 'tool_status1' %}" style="color:rgb(0, 0, 0); ">ใช้งานปกติ</a>
          <a class="dropdown-item" href="{% url 'tool_status2' %}" style="color:rgb(0, 0, 0); ">ส่งคลัง ใช้งานได้</a>
          <a class="dropdown-item" href="{% url 'tool_status3' %}" style="color:rgb(0, 0, 0); ">ส่งคลัง ชำรุด</a>
          <a class="dropdown-item" href="{% url 'tool_status4' %}" style="color:rgb(0, 0, 0); ">รอจำหน่าย</a>
          <a class="dropdown-item" href="{% url 'tool_status5' %}" style="color:rgb(0, 0, 0); ">จำหน่ายแล้ว</a>
          <a class="dropdown-item" href="{% url 'tool_status6' %}" style="color:rgb(0, 0, 0); ">อื่นๆ</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"
          style="color:rgb(0, 0, 0); ">
          ประเภท
        </a>
        <div class="dropdown-menu">
          {% for r in Qtype %}
            <a class="dropdown-item" href="{% url 'tool_type' idtype=r.idtype %}" style="color:rgb(0, 0, 0); ">{{r.idtype}}</a>
            {% endfor %}
            <a> =========================</a>
            <a class="dropdown-item" href="{% url 'typeshow' %}" style="color:rgb(0, 0, 0); ">ดูประเภทเครื่องมือ</a>
            <a class="dropdown-item" href="{% url 'typecreate' %}" style="color:rgb(0, 0, 0); ">เพิ่มประเภทเครื่องมือ</a>
          </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"
          style="color:rgb(0, 0, 0); ">
          สถานที่/กลุ่มงาน
        </a>
        <div class="dropdown-menu">
          {% for r in Qloca %}
            <a class="dropdown-item" href="{% url 'tool_loca' loca=r.location %}" style="color:rgb(0, 0, 0); ">{{r.location}}</a>
            {% endfor %}
            <a> ===============</a>
            <a class="dropdown-item" href="{% url 'locashow' %}" style="color:rgb(0, 0, 0); ">ดูสถานที่</a>
            <a class="dropdown-item" href="{% url 'locacreate' %}" style="color:rgb(0, 0, 0); ">เพิ่มสถานที่</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " style="color:rgb(0, 0, 0); " href="{% url 'tool_create' %}">เพิ่มเครื่องมือ</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Reprot' %}" style="color:rgb(0, 0, 0);">Report</a>
      </li>
    </ul>
    <form>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <div class="bd-example">
              {{ form.name.label }}
              {{ form.name }}
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          <a class="  btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>
    </form>
  </div>
</nav>
{% endblock %}
{% block showatt %}
  <div style="background-color:rgb(180, 227, 246);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12">
          <div class="border border-dark p-5" style="background-color:rgb(157, 221, 247); border-radius: 1rem; ">
            <div class="card-body p-6 form-row">
              <div class="form-row col-md-6">
                {% for r in row %}
                <section class="col-md-12">
                <div class="form-row col-md-12">
                  <div class="form-group col-md-12">
                    <label> ชื่อเครื่องมือ</label>
                    <label class="form-control">{{ r.name }}</label>
                  </div>
                </div>
                <div class="form-row col-md-12">
                  <div class="form-group col-md-6">
                    <label> เลขทะเบียน</label>
                    <label class="form-control">{{ r.serial }}</label>
                  </div>
                  <div class="form-group col-md-6">
                    <label> สถานที่ใช้งาน</label>
                    <label class="form-control">{{ r.location }}</label>
                  </div>
                </div>
                <div class="form-row col-md-12">
                  <div class="form-group col-md-6">
                    <label> สถานะใช้งาน</label>
                    <label class="form-control">{{ r.status }}</label>
                  </div>
                  <div class="form-group col-md-6">
                    <label> วิธีการได้มา</label>
                    <label class="form-control">{{ r.acquisition }}</label>
                  </div>
                </div>
                <div class="form-row col-md-12">
                  <div class="form-group col-md-6">
                    <label> ประเภทเครื่องมือ</label>
                    <label class="form-control">{{ r.idtype }}</label>
                  </div>
                  <div class="form-group col-md-6">
                    <label> วันที่ได้รับ</label>
                    <label class="form-control">{{ r.date }}</label>
                  </div>
                </div>
                <div class="form-row col-md-12">
                  <div class="form-group col-md-6">
                    <label> ราคา</label>
                    <label class="form-control">{{ r.price }}</label>
                  </div>
                  <div class="form-group col-md-6">
                    <label> ประเภทเงิน</label>
                    <label class="form-control">{{ r.pricetype }}</label>
                  </div>
                </div>
                <div class="form-row col-md-12">
                  <div class="form-group col-md-12">
                    <label> รายละเอียด</label>
                    <label class="form-control">{{ r.details }}</label>
                  </div>
                </div>
              </section>
                {% endfor %}
              </div>
              <div class="col-md-6">
                <div class="form-row col-md-12">
                  <div class="col-md-5">
                    <label> attname</label>
                  </div>
                  <div class="col-md-7">
                    <label> value</label>
                  </div>
                  <!--<div class="col-md-7">
                      <input type="text" readonly value="{{ iditem }}">
                    </div>-->
                </div>
                {% for r in SC %}
                <div class="form-row col-md-12">
                  <div class="form-group col-md-4">
                    <label class="form-control">{{ r.attname }}</label>
                  </div>
                  <div class="col-md-1 row d-flex justify-content-center align-items-center h-100">
                    <h4> : </h4>
                  </div>
                  <div class="form-group col-md-5">
                    <label class="form-control">{{ r.value }}</label>
                  </div>
                  <div class="col-md-2">
                    <a class="btn btn-outline-danger" href="{% url 'tool_attdel' id=r.idatt %} ">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd"
                          d="M16 1.75V3h5.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H8V1.75C8 .784 8.784 0 9.75 0h4.5C15.216 0 16 .784 16 1.75zm-6.5 0a.25.25 0 01.25-.25h4.5a.25.25 0 01.25.25V3h-5V1.75z">
                        </path>
                        <path
                          d="M4.997 6.178a.75.75 0 10-1.493.144L4.916 20.92a1.75 1.75 0 001.742 1.58h10.684a1.75 1.75 0 001.742-1.581l1.413-14.597a.75.75 0 00-1.494-.144l-1.412 14.596a.25.25 0 01-.249.226H6.658a.25.25 0 01-.249-.226L4.997 6.178z">
                        </path>
                        <path
                          d="M9.206 7.501a.75.75 0 01.793.705l.5 8.5A.75.75 0 119 16.794l-.5-8.5a.75.75 0 01.705-.793zm6.293.793A.75.75 0 1014 8.206l-.5 8.5a.75.75 0 001.498.088l.5-8.5z">
                        </path>
                      </svg></a>
                    <script>
                      function del(url) {
                        if (confirm('ยืนยันการลบ')) {
                          document.location = url;
                        }
                      }
                    </script>
                  </div>
                </div>
                {% endfor %}
                   <form action="addatt" method="post" class="m-auto">
                  {% csrf_token %}
                  <div class="form-row col-md-12">
                    <div class="col-md-4">
                      <label class="form-label">attname</label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-label">value</label>
                    </div>
                  </div>
                  <div class="form-row col-md-12">
                    <input class="form-control" type="hidden" name="iditem" value="{{iditem}}"/>
                    <div class="col-md-4">
                      <input class="form-control" type="text" name="attname"/ required>
                    </div>
                    <div class="col-md-1 row d-flex justify-content-center align-items-center h-100">
                      <h4> : </h4>
                    </div>
                    <div class="col-md-5">
                      <input class="form-control" type="text" name="value"/ required>
                    </div>
                    <div class="col-md-2">
                        <button type="submit"  class="btn btn-info" >บันทึก
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block namelogin %}
<h7>สวัสดี คุณ {{ name }} {{ lastname }}</h7>
{% endblock %}